<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/mystyle2.css}" />
<title>Thêm mới SV</title>
</head>
<body>
	<div class="login-box">
		<h2>Thêm mới sinh viên</h2>
		<form action="#" th:action="@{/them}" method="post"
			th:object="${newStudent}">
			<div class="user-box">
				<input type="text" name="maSoSV" th:field="*{maSoSV}" required="">
				<label>Mã số SV</label>
			</div>
			<div class="user-box">
				<input type="text" name="hoVaTen" th:field="*{hoVaTen}" required="">
				<label>Họ và Tên</label>
			</div>
			<div class="user-box">
				<input type="number" name="diemTichLuy" th:field="*{diemTichLuy}" required="">
				<label>Điểm tích lũy</label>
			</div>
			<button type="submit">
				<span></span> <span></span> <span></span> <span></span>
				Thực hiện thêm
			</button>
		</form>
	</div>
</body>
</html>
